body {background-color: black;

}
.img{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.post{
    background-color: white;
    color: black;
    width: 350px;
    height: 650px;
}
.post-header{
    font-size: 15px;
    display: flex;
}
.post-header p{
    display: flex;
    flex-direction: column;
}
.post-header i{
    font-size: 30px;
    display: flex;
    align-items: center;
}
.post-icons{
    display: flex;
}
.post-body{
    padding: 15px;
    text-align: left;
}
